<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>exam25</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TenServlet</display-name>
	<!-- 3. <servlet>태그의  servlet-name 중 같은 이름의 name 존재하는지 확인 -->
    <servlet-name>TenServlet</servlet-name>
    <!-- 4. 위 서블릿을 찾아서 실제로 실행시킬 서블릿이 무엇인지 찾음 (exam패키지 안에 TenServlet클래스) -->
    <servlet-class>exam.TenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
	<!-- 2. url이 있으면  servlet-name을 확인 -->
    <servlet-name>TenServlet</servlet-name>
	<!-- 1. url이 /ten으로 요청이 들어 오면  여기서 해당 url을 찾음(없으면 404) -->
    <url-pattern>/ten</url-pattern>
  </servlet-mapping>
</web-app>